board{
    padding: 3em;
    text-align: center;
}

row{
    clear: both;
    margin: 0 auto;
    width: 302px;
}

row > span{
    float: left;
    height: 100px;
    width: 100px;
}

.top-left{
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}
.top-center{
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
}
.top-right{
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}
 .middle-left{
    border-top: 1px solid black;
    height: 65px;
 }
 .middle-center{
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    height: 65px;
}
.middle-right{
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    height: 65px;
}

 .left{
     border-right: 1px solid black;
     width: 65px;

 }

 .right{
     border-left: 1px solid black ;

 }
