#board{
    padding-top:  3em;
    text-align: center;
}

.row > div {
    height: 100px;
    width: 100px;
    line-height: 100px;
    font-size: 75px;
    }
    div:not(.row){
    float: left;
    }




.top{
    border-bottom: 1px solid blue;
}
.middle{
}
.bottom{
    border-top: 1px solid black;
}
.left{
    border-right: 1px solid red;
 }
.center{
}
.right{
    border-left: 1px solid orange;
}

.row:hover{
    cursor: pointer;
}